body{
  margin:0;
  background:black;
  color:white;
  font-family:sans-serif;
}

.screen{
  position:fixed;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
}
.grid{
  position:absolute;
  inset:0;
  background-image:
    linear-gradient(rgba(255,255,255,0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size:60px 60px;
}
video{
  width:min(700px,90vw);
  z-index:1;
}
canvas{
  border:1px solid red;
  display:block;
  margin:auto;
}



